extends layout

block cssIndex
  link(rel='stylesheet' href='stylesheets/index.css')

block content 
  title Inicio
  h2 EvenTec La mejor experiencia en eventos
  #container.container
    .form-container.sign-in-container
      form(action='index2.html')
        h1 Inicia Sesi&oacute;n
        span Completa la informaci&oacute;n
        input(type='email' placeholder='Usuario')
        input(type='password' placeholder='Password')
        a(href='index2.html' role='button') Ingresar
    .overlay-container
      .overlay