extends ../layout

block cssIndex
  link(rel='stylesheet' href='stylesheets/index.css')
  link(rel='stylesheet' href='stylesheets/usrs.css')

block content 
  title Usuarios
  h2 Lista de usuarios
  table
    tr
      th Type
      th User
      th Password
    each usr in users
      tr
        td= usr.type
        td= usr.user
        td= usr.password
