doctype html
h2 EvenTec La mejor experiencia en eventos
#container.container
  .form-container.sign-in-container
    form(action='/registro/create' method='POST')
      h1 Alta de Usuarios
      span Ingrese la informaci&oacute;n del asistente
      input(type='Nombre' placeholder='Nombre')
      input(type='Correo' placeholder='Correo')
      a(href='index2.html' role='button') Dar de alta
      a(href='dashboard.pug' role='button') Dashboard
  .overlay-container
    .overlay